[submodule "arduino-softtimer"]
	path = arduino-softtimer
	url = git@github.com:prampec/arduino-softtimer.git
[submodule "SoftTimers"]
	path = SoftTimers
	url = git@github.com:end2endzone/SoftTimers.git
[submodule "PPM-reader"]
	path = PPM-reader
	url = git@github.com:dimag0g/PPM-reader.git
